.table-iletisim{width: 100%;font-size: 14px;}
.g-recaptcha {float: right !important;}
.table-iletisim button {float: right !important;}
.form_konu, .form_adsoyad, .form_tel, .form_email
{
	border:1px solid #ddd; 
	width:100%;
	font-size: 15px; 
	border: 1px solid #e1e1e1;
    color: #888;
    height: 40px;
    margin-right: 6px;
    margin-top: 6px;
	margin-bottom:2px !important;
    outline: 0 none;
    padding: 9px 3px 9px 9px;
    line-height:15px;
	background:#fff;

  }
  
  .formtext
{
	border:1px solid #ddd; 
	width:100%;
	font-size: 15px; 
	border: 1px solid #ddd;
    color: #252525;
    font-weight: 400;
    height: 40px;
    margin-right: 6px;
    margin-top: 2px;
	margin-bottom:2px !important;
    outline: 0 none;
    padding: 6px 3px 6px 9px;
    line-height:15px;
    
  }

 .form_mesaj{
	border:1px solid #e1e1e1; 
	width:100%;
	height: 150px;
	font-size: 15px; 
	border: 1px solid #DADADA;
    color: #888;
    margin-right: 6px;
    margin-top: 6px;
    outline: 0 none;
    padding: 9px 3px 3px 9px;
    line-height:15px;

}
select {border-radius: 0px !important;}

.formtdbaslik{padding:12px 0px}

.form_submitxx{padding:9px; border:1px solid #ddd; background:#fff; font-size:17px; cursor:pointer; border-radius:3px;}
.form_submitxx:hover{background:#ebebeb;}

.dilform{padding:4px 15px; color:#666; text-align: left;}

label.control-label{font-weight: 500 !important; margin-bottom: 6px !important;}

.form-control{height: 40px !important; margin-top: 2px; color: #888 !important;}

.ik-form textarea{width:97.4% !important;  color: #252525 !important; height: 100px !important; margin-left: 15px !important;}