<div class="col-md-3 blockmargin"> 
    <div class="sub-content">
        <ul class="sub-ul">
            <li class="sub-li">
                <div class="sub-licontent">
                    <p>Products</p>
                    <i class="fa fa-angle-down fa-2x color-white icom-paddingtop5" style="float:right; margin-right:15px;"></i>
                </div>
            </li>
            <div id="cssmenu">
                <ul>
                {% for category in categories %}
                    <li class="{% if category.subcategory_set.all %}has-sub{% endif %}">
                        <a id="{% url 'category-detail' category.slug %}">{{ category.name }}
                            {% if category.subcategory_set.all %}
                                <span style="float:right; margin-right:5px;">
                                <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            {% endif %}</a>
                    {% if category.subcategory_set.all %}
                        <ul>
                        {% for subcategory in category.subcategory_set.all %}
                            <li><a href="{% url 'product-list' category.slug subcategory.slug %}">{{ subcategory.name }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                   </li>
                 {% endfor %}  
                </ul>
            </div>
        </ul>
    </div>
</div>