{% load static %}
<section class="inner-banner2 clearfix" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div style="font-size:25px; font-weight:normal;color:#fff; text-align:left; text-shadow:0px -1px 1px #000; padding-top:15px; margin-left:-15px;">
                </div>
                <div style="font-size:14px;font-style:italic;"></div>
            </div>
        </div>
    </div>
</section>
<div id="minimal-bootstrap-carousel" data-ride="carousel"
     class="carousel slide carousel-fade shop-slider full_width ver_new_1_slider">
    <div role="listbox" class="carousel-inner">
        {% for banner in banners %}
            <div style="background-image: url('{{ banner.image.url }}');"
                 class="item {% if forloop.counter == 1 %}active{% endif %}">
                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-top">
                            <div class="content text-left col-md-7">
                                <h1 data-animation="animated fadeInLeft" class="bnrfnt40">{{ banner.name }}</h1>
                                <h2 data-animation="animated fadeInLeft" class="bnrfnt10"></h2>
                                <p data-animation="animated fadeInRight" class="pln_he"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'home-page' %}#minimal-bootstrap-carousel" role="button" data-slide="prev"
       class="left carousel-control"><i
            class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a
        href="{% url 'home-page' %}#minimal-bootstrap-carousel" role="button" data-slide="next"
        class="right carousel-control"><i
        class="fa fa-angle-right"></i><span class="sr-only">Next</span></a>

</div>